.alert {
  color: var(--text-color);
  border-left-width: 4px;
  background-color: var(--alert-bg-color);

  p:last-child {
    margin-bottom: 0;
  }
}

.btn-toolbar-spaced {
  > .btn-group,
  > .btn {
    &:not(:first-child) {
      margin-left: $spacer / 2;

      @include media-breakpoint-down(md) {
        margin-top: $spacer / 2;
        margin-left: 0;
      }
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column;

    padding-bottom: $spacer * 0.75;

    > .btn-group,
    > .btn {
      display: block;
    }
  }
}

a {
  text-underline-offset: 6%;
  text-decoration-thickness: from-font;

  &:not([href], [class]) {
    text-decoration-thickness: from-font;
  }
}
